<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Specas.lt</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
            <img class="logo" src="/images/Specaslt.png" alt="Logo">
            <nav>
                <ul class="nav_links">
                    <li><a href="/">Pagrindinis</a></li>
                    <li><a href="/products">Produktai</a></li>
                    <li><a href="/about">Apie Mus</a></li>
                    <li><a href="/contacts">Kontaktai</a></li>
                    <li><a href="/login">Prisijungti</a></li>

                </ul>
            </nav>
            <a class="cta" href="/cart"><button>Krepšelis</button></a>
    </header>
    
    <main class="row">
            <p>Sveiki atvyke!</p>
            <a class="btn" href="/products"><button>Apsipirkti!</button></a>
    </main>
    <footer>
    <p>&copy;2024 Specas.lt Visos teisės saugomos.</p>
    </footer>
</body>
</html>