<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registracija</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <img class="logo" src="C:\Users\gedvy\Desktop\Specaslt.png" alt="Logo">
        <nav>
            <ul class="nav_links">
                <li><a href="/">Pagrindinis</a></li> <!-- Link to home -->
                <li><a href="/products">Produktai</a></li> <!-- Link to products -->
                <li><a href="/about">Apie Mus</a></li> <!-- Link to about -->
                <li><a href="/contacts">Kontaktai</a></li> <!-- Link to contacts -->
                <li><a href="/login">Prisijungti</a></li> <!-- Link to login -->
            </ul>
        </nav>
        <a class="cta" href="cart.html"><button>Krepšelis</button></a></header>
    <main>
<div class="container">
    <div class="title">Prisijungimas</div>
    <form action="/auth/login" method="POST">
        <div class="user-details">
            <div class="input-box">
                <span class="details">Elektroninis paštas</span>
                <input type="text" placeholder="Enter Email" name="email" required>
            </div>

            <div class="input-box">
                <span class="details">Slaptažodis</span>
                <input type="text" placeholder="Enter Password" name="password" required>
            </div>
        </div>
        <div class="btn">
            <input type="submit" value="Prisijungti">
        </div>
    </form>
    <p>
        Neturite paskyros? <a class="registrate" href="/registration">Registruokitės čia</a> <!-- Link to registration -->
    </p>
</div>
{{#if message}}
    <h4 class="alert">{{message}}</h4>

{{/if}}
</main>
<footer>
    <p>&copy;2024 Specas.lt Visos teisės saugomos.</p>
</footer>
</body>
</html>
